.nav-header a {
  font-size: 30px;
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 600;
  padding: 5px 20px;
}

.nav-header a:hover {
  color: #161616;
  text-decoration: underline;
  text-decoration-color: rgb(127, 205, 179);
}

.main-header {
  height: 110px;
  display: flex;
  align-items: center;
  padding-block: 10px;
}